# Core ML
torch==2.5.1
torchvision==0.20.1
segmentation-models-pytorch==0.4.0

# Data Processing
numpy==1.26.4
opencv-python==4.10.0.84
pillow==11.0.0
scikit-learn==1.6.1
albumentations==1.4.20

# Visualization
matplotlib==3.10.0
tensorboard==2.19.0

# Model Optimization
onnx==1.17.0
onnxruntime==1.21.0

# Utilities
tqdm==4.67.1
